.root {
    -fx-background-color: rgb(255, 255, 255);
}

.header {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.label-day {
    -fx-font-size: 14px;
}

.sunday {
    -fx-text-fill: rgb(155, 65, 208);
    -fx-font-size: 14px;
}

.other-days {
    -fx-text-fill: rgb(74, 118, 222);
    -fx-font-size: 14px;
}

.holiday {
    -fx-font-size: 14px;
    -fx-background-color: rgb(239, 209, 88);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}

.holiday-sunday {
    -fx-font-size: 14px;
    -fx-background-color: rgb(239, 209, 88);
    -fx-text-fill: rgb(155, 65, 208);
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}

.combo-box, .text-field {
    -fx-font-size: 14px;
    -fx-pref-width: 100px;
}


.input-field {
    -fx-font-size: 14px;
    -fx-border-color: none;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: rgb(238, 235, 245);
}

.regular-text {
    -fx-font-size: 14px;
    -fx-padding-left: 20px;
}